In [1]:
import pandas as pd
import numpy as np
import re
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
from nltk.tokenize import RegexpTokenizer

[nltk_data] Downloading package stopwords to C:\Users\BHANU
[nltk_data]     TEJA\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [2]:
df = pd.read_csv("C://Users//BHANU TEJA//Desktop//Bhavana_CBIT//SEM6//NLP//assignment//archive//Jobs.csv")

In [3]:
df.head()

,Unnamed: 0,title,company,announcement,description
0,0,"Senior Analyst, Data Science and Analytics",TransUnion,The Muse,TransUnion's Job Applicant Privacy Notice Wha...
1,1,Senior Data Scientist,"Grubhub Holdings, Inc.",ZipRecruiter,About The Opportunity We're all about connect...
2,2,Lead Data Science Analyst,Discover Financial Services,LinkedIn,"Discover. A brighter future. With us, you’ll ..."
3,3,Data Science Intern,AbelsonTaylor,Startup Jobs,Are you a 2023 college graduate or rising coll...
4,4,Data Scientist,NORC at the University of Chicago,SimplyHired,"JOB DESCRIPTION: At NORC, Data Scientists pla..."

In [4]:
df.description

0      TransUnion's Job Applicant Privacy Notice  Wha...
1      About The Opportunity  We're all about connect...
2      Discover. A brighter future.  With us, you’ll ...
3      Are you a 2023 college graduate or rising coll...
4      JOB DESCRIPTION:  At NORC, Data Scientists pla...
                             ...
785    Description  $3,000 hiring bonus to join the J...
786    Are you looking for a purpose-driven career? A...
787    The Senior Data Analyst will join as an analyt...
788    Overview: The Cost Controller / Data Analyst p...
789    Overview:  Hicuity Health, the leading high ac...
Name: description, Length: 790, dtype: object

## REMOVE LINKS

In [5]:
df['new_description'] = df['description'].apply(lambda s:' '.join(re.sub("(w+://S+)"," ",s).split()))
df[['new_description','description']]

,new_description,description
0,TransUnion's Job Applicant Privacy Notice What...,TransUnion's Job Applicant Privacy Notice Wha...
1,About The Opportunity We're all about connecti...,About The Opportunity We're all about connect...
2,"Discover. A brighter future. With us, you’ll d...","Discover. A brighter future. With us, you’ll ..."
3,Are you a 2023 college graduate or rising coll...,Are you a 2023 college graduate or rising coll...
4,"JOB DESCRIPTION: At NORC, Data Scientists play...","JOB DESCRIPTION: At NORC, Data Scientists pla..."
...,...,...
785,"Description $3,000 hiring bonus to join the Ju...","Description $3,000 hiring bonus to join the J..."
786,Are you looking for a purpose-driven career? A...,Are you looking for a purpose-driven career? A...
787,The Senior Data Analyst will join as an analyt...,The Senior Data Analyst will join as an analyt...
788,Overview: The Cost Controller / Data Analyst p...,Overview: The Cost Controller / Data Analyst p...
789,"Overview: Hicuity Health, the leading high acu...","Overview: Hicuity Health, the leading high ac..."

## Remove punctuations

In [6]:
df["new_description"] = df["new_description"].apply(lambda s: ' '.join(re.sub("[.,!?:;-='...@#_]", " ", s).split()))
df[["description","new_description"]]

,description,new_description
0,TransUnion's Job Applicant Privacy Notice Wha...,TransUnion s Job Applicant Privacy Notice What...
1,About The Opportunity We're all about connect...,About The Opportunity We re all about connecti...
2,"Discover. A brighter future. With us, you’ll ...",Discover A brighter future With us you’ll do m...
3,Are you a 2023 college graduate or rising coll...,Are you a 2023 college graduate or rising coll...
4,"JOB DESCRIPTION: At NORC, Data Scientists pla...",JOB DESCRIPTION At NORC Data Scientists play a...
...,...,...
785,"Description $3,000 hiring bonus to join the J...",Description $3 000 hiring bonus to join the Ju...
786,Are you looking for a purpose-driven career? A...,Are you looking for a purpose-driven career At...
787,The Senior Data Analyst will join as an analyt...,The Senior Data Analyst will join as an analyt...
788,Overview: The Cost Controller / Data Analyst p...,Overview The Cost Controller / Data Analyst po...
789,"Overview: Hicuity Health, the leading high ac...",Overview Hicuity Health the leading high acuit...

## Remove Stop words and covert into loewr case

In [7]:
stop = set(stopwords.words('english'))
print(stop)

{'at', 'by', 'of', "should've", 'for', 'about', 'ourselves', "don't", "it's", 'ours', 'he', 'most', 'to', "mustn't", 'had', 'those', 'who', 'from', 'own', 'shouldn', 'didn', 'over', 'some', 'just', 'then', 'in', 'his', 'we', "didn't", 'mightn', "she's", 'so', 'be', 'the', 'how', 'too', 'couldn', "you've", 'were', 'hadn', 'up', 'been', 'herself', 'and', 'nor', 'into', 'are', 'as', "haven't", 'no', 'or', 'if', 'again', "isn't", 'above', "wouldn't", 'there', "mightn't", 'when', 'won', 'having', 'during', 'haven', "you'd", 'below', 'm', 'any', 'only', "needn't", 'is', 'your', 'myself', 't', 'its', 'which', 'was', 'don', 'did', "weren't", "you're", 'hasn', 'him', "wasn't", 'but', 'doing', 'y', "that'll", 'further', 'o', 's', 'she', 'a', 'them', 'because', 'down', 'after', 'before', 'himself', 'am', 'an', 'where', 'now', 'that', "hadn't", 'each', 'hers', 'under', 'me', 'themselves', 'more', 'theirs', 'have', 're', "hasn't", 'their', 'not', 'my', 'why', 'wouldn', 'mustn', 'doesn', 'isn', "won't", 'd', 'between', 'out', 'needn', 'weren', "aren't", 'on', 'all', 'aren', 'against', 'ain', 'ma', 'than', 'same', 'they', "shouldn't", 'can', 'yours', 'wasn', 'do', 'while', 'such', 'with', 'few', 'her', 'itself', 'this', 'you', 'both', 'being', 'll', 'these', 'yourself', 'whom', 'other', 've', 'very', 'yourselves', 'through', "couldn't", 'shan', 'will', 'off', "you'll", 'once', 'does', 'our', "doesn't", "shan't", 'i', 'should', 'until', 'has', 'it', 'what', 'here'}

In [8]:
def rem_en(input_txt):
    words = input_txt.lower().split()
    noise_free_words = [word for word in words if word not in stop] 
    noise_free_text = " ".join(noise_free_words) 
    return noise_free_text

In [9]:
df["new_description"] = df["new_description"].apply(lambda s: rem_en(s))
df[["description","new_description"]]

,description,new_description
0,TransUnion's Job Applicant Privacy Notice Wha...,transunion job applicant privacy notice bring ...
1,About The Opportunity We're all about connect...,opportunity connecting hungry diners network 3...
2,"Discover. A brighter future. With us, you’ll ...",discover brighter future us you’ll meaningful ...
3,Are you a 2023 college graduate or rising coll...,2023 college graduate rising college senior ab...
4,"JOB DESCRIPTION: At NORC, Data Scientists pla...",job description norc data scientists play key ...
...,...,...
785,"Description $3,000 hiring bonus to join the J...",description $3 000 hiring bonus join judicial ...
786,Are you looking for a purpose-driven career? A...,looking purpose-driven career metrocare serve ...
787,The Senior Data Analyst will join as an analyt...,senior data analyst join analytical leader wit...
788,Overview: The Cost Controller / Data Analyst p...,overview cost controller / data analyst positi...
789,"Overview: Hicuity Health, the leading high ac...",overview hicuity health leading high acuity te...

## Tokenization

In [10]:
from nltk.tokenize import RegexpTokenizer
tokeniser = RegexpTokenizer(r'\w+')
df["new_description"] = df["new_description"].apply(lambda x: tokeniser.tokenize(x))
df[["description","new_description"]]

,description,new_description
0,TransUnion's Job Applicant Privacy Notice Wha...,"[transunion, job, applicant, privacy, notice, ..."
1,About The Opportunity We're all about connect...,"[opportunity, connecting, hungry, diners, netw..."
2,"Discover. A brighter future. With us, you’ll ...","[discover, brighter, future, us, you, ll, mean..."
3,Are you a 2023 college graduate or rising coll...,"[2023, college, graduate, rising, college, sen..."
4,"JOB DESCRIPTION: At NORC, Data Scientists pla...","[job, description, norc, data, scientists, pla..."
...,...,...
785,"Description $3,000 hiring bonus to join the J...","[description, 3, 000, hiring, bonus, join, jud..."
786,Are you looking for a purpose-driven career? A...,"[looking, purpose, driven, career, metrocare, ..."
787,The Senior Data Analyst will join as an analyt...,"[senior, data, analyst, join, analytical, lead..."
788,Overview: The Cost Controller / Data Analyst p...,"[overview, cost, controller, data, analyst, po..."
789,"Overview: Hicuity Health, the leading high ac...","[overview, hicuity, health, leading, high, acu..."

In [11]:
from nltk.stem import WordNetLemmatizer
lemmatiser = WordNetLemmatizer()
df["new_description"] = df["new_description"].apply(lambda tokens: [lemmatiser.lemmatize(token, pos='v') for token in tokens])
df[["description","new_description"]]

,description,new_description
0,TransUnion's Job Applicant Privacy Notice Wha...,"[transunion, job, applicant, privacy, notice, ..."
1,About The Opportunity We're all about connect...,"[opportunity, connect, hungry, diners, network..."
2,"Discover. A brighter future. With us, you’ll ...","[discover, brighter, future, us, you, ll, mean..."
3,Are you a 2023 college graduate or rising coll...,"[2023, college, graduate, rise, college, senio..."
4,"JOB DESCRIPTION: At NORC, Data Scientists pla...","[job, description, norc, data, scientists, pla..."
...,...,...
785,"Description $3,000 hiring bonus to join the J...","[description, 3, 000, hire, bonus, join, judic..."
786,Are you looking for a purpose-driven career? A...,"[look, purpose, drive, career, metrocare, serv..."
787,The Senior Data Analyst will join as an analyt...,"[senior, data, analyst, join, analytical, lead..."
788,Overview: The Cost Controller / Data Analyst p...,"[overview, cost, controller, data, analyst, po..."
789,"Overview: Hicuity Health, the leading high ac...","[overview, hicuity, health, lead, high, acuity..."

# Spacy

In [21]:
!pip install spacy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: spacy in c:\users\bhanu teja\appdata\roaming\python\python39\site-packages (3.5.1)
Requirement already satisfied: numpy>=1.15.0 in c:\anaconda3\lib\site-packages (from spacy) (1.21.5)
Requirement already satisfied: thinc<8.2.0,>=8.1.8 in c:\users\bhanu teja\appdata\roaming\python\python39\site-packages (from spacy) (8.1.9)
Requirement already satisfied: setuptools in c:\anaconda3\lib\site-packages (from spacy) (61.2.0)
Requirement already satisfied: wasabi<1.2.0,>=0.9.1 in c:\users\bhanu teja\appdata\roaming\python\python39\site-packages (from spacy) (1.1.1)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in c:\users\bhanu teja\appdata\roaming\python\python39\site-packages (from spacy) (2.0.7)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.11 in c:\users\bhanu teja\appdata\roaming\python\python39\site-packages (from spacy) (3.0.12)
Requirement already satisfied: pathy>=0.10.0 in c:\users\bhanu teja\appdata\roaming\python\python39\site-packages (from spacy) (0.10.1)
Requirement already satisfied: typer<0.8.0,>=0.3.0 in c:\users\bhanu teja\appdata\roaming\python\python39\site-packages (from spacy) (0.7.0)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in c:\users\bhanu teja\appdata\roaming\python\python39\site-packages (from spacy) (1.0.4)
Requirement already satisfied: smart-open<7.0.0,>=5.2.1 in c:\users\bhanu teja\appdata\roaming\python\python39\site-packages (from spacy) (6.3.0)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in c:\anaconda3\lib\site-packages (from spacy) (2.27.1)
Requirement already satisfied: langcodes<4.0.0,>=3.2.0 in c:\users\bhanu teja\appdata\roaming\python\python39\site-packages (from spacy) (3.3.0)
Requirement already satisfied: jinja2 in c:\anaconda3\lib\site-packages (from spacy) (2.11.3)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<1.11.0,>=1.7.4 in c:\users\bhanu teja\appdata\roaming\python\python39\site-packages (from spacy) (1.10.6)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in c:\users\bhanu teja\appdata\roaming\python\python39\site-packages (from spacy) (3.0.8)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in c:\anaconda3\lib\site-packages (from spacy) (4.64.0)
Requirement already satisfied: packaging>=20.0 in c:\anaconda3\lib\site-packages (from spacy) (21.3)
Requirement already satisfied: srsly<3.0.0,>=2.4.3 in c:\users\bhanu teja\appdata\roaming\python\python39\site-packages (from spacy) (2.4.6)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in c:\users\bhanu teja\appdata\roaming\python\python39\site-packages (from spacy) (1.0.9)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in c:\users\bhanu teja\appdata\roaming\python\python39\site-packages (from spacy) (2.0.8)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\anaconda3\lib\site-packages (from packaging>=20.0->spacy) (3.0.4)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\bhanu teja\appdata\roaming\python\python39\site-packages (from pydantic!=1.8,!=1.8.1,<1.11.0,>=1.7.4->spacy) (4.5.0)
Requirement already satisfied: idna<4,>=2.5 in c:\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (2021.10.8)
Requirement already satisfied: confection<1.0.0,>=0.0.1 in c:\users\bhanu teja\appdata\roaming\python\python39\site-packages (from thinc<8.2.0,>=8.1.8->spacy) (0.0.4)
Requirement already satisfied: blis<0.8.0,>=0.7.8 in c:\users\bhanu teja\appdata\roaming\python\python39\site-packages (from thinc<8.2.0,>=8.1.8->spacy) (0.7.9)
Requirement already satisfied: colorama in c:\users\bhanu teja\appdata\roaming\python\python39\site-packages (from tqdm<5.0.0,>=4.38.0->spacy) (0.4.6)
Requirement already satisfied: click<9.0.0,>=7.1.1 in c:\anaconda3\lib\site-packages (from typer<0.8.0,>=0.3.0->spacy) (7.1.2)
Requirement already satisfied: MarkupSafe>=0.23 in c:\anaconda3\lib\site-packages (from jinja2->spacy) (2.0.1)

In [13]:
conda install -c conda-forge spacy

Note: you may need to restart the kernel to use updated packages.

In [29]:
import spacy.cli
spacy.cli.download("en_core_web_sm")
nlp = spacy.load("en_core_web_sm")

✔ Download and installation successful
You can now load the package via spacy.load('en_core_web_sm')

In [30]:
# import spacy #load spacy
# nlp = spacy.load("en_core_web_sm", disable=['parser', 'tagger', 'ner'])
# # stops = stopwords.words("english")
# # stops

In [34]:
def normalize(comment, lowercase, remove_stopwords):
    comment = str(comment)
    if lowercase:
        comment = comment.lower()
    comment = nlp(comment)
    lemmatized = list()
    for word in comment:
        lemma = word.lemma_.strip()
        if lemma:
            if not remove_stopwords or (remove_stopwords and lemma not in stop):
                lemmatized.append(lemma)
    return " ".join(lemmatized)

In [36]:
df['new_desc'] = df['description'].apply(normalize, lowercase=True, remove_stopwords=True)
df[["description","new_desc"]]

,description,new_desc
0,TransUnion's Job Applicant Privacy Notice Wha...,transunion 's job applicant privacy notice bri...
1,About The Opportunity We're all about connect...,"opportunity connect hungry diner network 300,0..."
2,"Discover. A brighter future. With us, you’ll ...","discover . bright future . , ’ll meaningful wo..."
3,Are you a 2023 college graduate or rising coll...,2023 college graduate rise college senior ? ab...
4,"JOB DESCRIPTION: At NORC, Data Scientists pla...","job description : norc , datum scientist play ..."
...,...,...
785,"Description $3,000 hiring bonus to join the J...","description $ 3,000 hire bonus join judicial b..."
786,Are you looking for a purpose-driven career? A...,"look purpose - drive career ? metrocare , serv..."
787,The Senior Data Analyst will join as an analyt...,senior datum analyst join analytical leader wi...
788,Overview: The Cost Controller / Data Analyst p...,overview : cost controller / datum analyst pos...
789,"Overview: Hicuity Health, the leading high ac...","overview : hicuity health , lead high acuity t..."

# Feature Engineering

In [37]:
df.head()

,Unnamed: 0,title,company,announcement,description,new_description,new_desc
0,0,"Senior Analyst, Data Science and Analytics",TransUnion,The Muse,TransUnion's Job Applicant Privacy Notice Wha...,"[transunion, job, applicant, privacy, notice, ...",transunion 's job applicant privacy notice bri...
1,1,Senior Data Scientist,"Grubhub Holdings, Inc.",ZipRecruiter,About The Opportunity We're all about connect...,"[opportunity, connect, hungry, diners, network...","opportunity connect hungry diner network 300,0..."
2,2,Lead Data Science Analyst,Discover Financial Services,LinkedIn,"Discover. A brighter future. With us, you’ll ...","[discover, brighter, future, us, you, ll, mean...","discover . bright future . , ’ll meaningful wo..."
3,3,Data Science Intern,AbelsonTaylor,Startup Jobs,Are you a 2023 college graduate or rising coll...,"[2023, college, graduate, rise, college, senio...",2023 college graduate rise college senior ? ab...
4,4,Data Scientist,NORC at the University of Chicago,SimplyHired,"JOB DESCRIPTION: At NORC, Data Scientists pla...","[job, description, norc, data, scientists, pla...","job description : norc , datum scientist play ..."